<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{page.title}} - Adam Holt - Manchester Based Ruby Developer</title>
    <meta name="keywords" content="adam, holt, ruby, manchester, developer, ruby developer, ruby on rails, ruby on rails developer, RoR" />
    <meta name="description" content="Adam Holt is a 23 year old Ruby on Rails Developer from Manchester, UK" />
    <link rel="canonical" href="http://adamholt.co.uk/" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/text.css" />
    <link rel="stylesheet" href="/stylesheets/960.css" />
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/blog.css">
    <link rel="stylesheet" href="/stylesheets/syntax.css">
    <script type="text/javascript" src="http://use.typekit.com/lmp4qnl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="content">
      <div class="container_12 clearfix">
        {{content}}
      </div>
      <span id="credits">&copy; Adam Holt 2011</span>
    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5066585-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
